@media only screen and (min-width: 576px) and (max-width: 768px){
    .header-items-container {
        width: 100vw;
        height: 80px;
        padding: 10px 10px;
        box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
    }
    .header-items {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template: 1fr / 1fr 2fr 1fr;
    }
    .portfolio-text {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Work Sans', sans-serif;
        font-size: 1.5rem;
        font-weight: 500;
        letter-spacing: 1px;
        color: rgba(3, 31, 81, 0.981);
    }
    .header-items ul{
        display: flex;
        flex-direction: row;
    }
    .nav-links {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        color: rgba(3, 31, 81, 0.981);
    }
    .nav-btns {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10%;
    }
    .link-styles {
        font-size: 1.5vw;
        letter-spacing: 0.5px;
    }
    .fa {
        color: rgba(3, 31, 81, 0.981);
    }
    .banner-section {
        width: 100vw;
        height: calc(100vh - 80px);
        z-index: 0;
        padding: 10px 50px;
    }
    .hero-items-container {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template: 1fr / 9fr 1fr;
    }
    .about-section {
        display: grid;
        grid-template: 2fr 3fr / 1fr;
    }
    .about-section span {
        font-size: 1vw;
    }
    .social-media-link-holder {
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .follow-social ul{
        transform: rotate(0deg);
        align-items: center;
        justify-content: center;
        row-gap: 10px;
    }
    .follow-social {
        row-gap: 20px;
        display: flex;
        flex-direction: column;
        height: 200px;
    }
    .about-content {
        padding: 10px 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 1%;
    }
    .image-holder {
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }
    .image-holder img {
        width: 80%;
        height: auto;
    }
    .content-text {
        font-family: 'Libre Baskerville',serif;
        font-size: 1.5rem;
        color: rgba(3, 31, 81, 0.981);
    }
    .content-discription {
        color: rgba(19, 47, 96, 0.981); 
        font-size: 0.4rem;
    }
    .services-section {
        width: 100vw;
        height: 1000px;
        padding: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: var(--white);
    }
    .fa-bars {
        display: none;
    }
    .menu-bars {
        display: none;
    }
    .fa-solid {
        cursor: pointer;
    }
    .service-section-content-holder {
        width: 500px;
        height: 100%;
        display: grid;
        grid-template: 6fr 4fr / 1fr;
    }
    .my-services-text-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding:  50px;
    }
    .my-image-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .service-heading-text {
        color: var(--primary-color);
        font-weight: 400;
        text-align: center;
    }
    .service-sub-heading-text {
        font-size: 2rem;
        font-weight: 900;
        text-align: center;
        font-family: 'Libre Baskerville', serif;
        color: var(--heading-color);
    }
   .service-discription {
        font-size: 12px;
        text-align: center;
    }
    .service-footer {
        font-size: 11px;
        font-weight: 400;
        text-align: center;
       
    }
    .service-footer a {
        text-align: center;
         color: var(--primary-color);
    }
    .list-of-my-skills {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5px;
    }
    .list-of-my-skills li {
        font-size: 11px;
        font-weight: 500;
        color:  rgba(3, 31, 81, 0.981);
    }
    .list-of-my-skills li:hover {
        color: var(--primary-color);
        transition-duration: 1.5s;
        cursor: pointer;
    }
    .service-section-image {
        width: 300px;
        height: auto;
    }










    .featured-skills-section {
        width: 100vw;
        height: calc(80vh);
        padding: 10px 5vw;
        background: var(--bg-lightgrey);
    }
    .featured-skills-content-holder {
        width: 100%;
        height: 100%;
        padding: 10px;
        display: grid;
        grid-template: 1fr /  1fr;
    }
    .featured-skills-image-holder {
        display: none;
    }
    .featured-skills-text-content-holder {
        padding: 30px;
        display: grid;
        grid-template: 1.5fr 1.5fr 2fr 3fr / 1fr;
    }
    .featured-skills-image {
        width: 100%;
        border-radius: 10px;
    }
    .my-features-holder-header {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 4vw;
        color: var(--primary-color);
        font-weight: 400;
    }
    .my-features-holder-sub-header {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 6vw;
        font-family: 'Libre Baskerville',serif;
        font-weight: 600;
        color: var(--font-color);
    }
    .my-features-holder-discription {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        color: var(--font-color);
        font-family: 'Work Sans', sans-serif;
        letter-spacing: 1.5px;
        font-size: 1rem;
    }
    .skills-bars {
        padding: 10px;
        display: grid;
        grid-template: 1fr 1fr 1fr 1fr / 1fr;
        row-gap: 10px;
    }
    .skil-bar {
        display: grid;
        grid-template: 9fr 1fr / 1fr;
    }
    .skill-progress-bar-container {
        width: 100%;
        height: 100%;
        background-color: rgba(221, 224, 224, 0.784);
        border-radius: 20px;
    }
    .skil-bar-text {
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}